In [1]:
import numpy as np
import pandas as pd
from scipy.stats import zscore

In [2]:
df1 = pd.read_csv("students_mental_health_survey.csv")
display(df1)

,Age,Course,Gender,CGPA,Stress_Level,Depression_Score,Anxiety_Score,Sleep_Quality,Physical_Activity,Diet_Quality,Social_Support,Relationship_Status,Substance_Use,Counseling_Service_Use,Family_History,Chronic_Illness,Financial_Stress,Extracurricular_Involvement,Semester_Credit_Load,Residence_Type
0,25,Others,Male,3.56,3,3,2,Good,Moderate,Good,Moderate,Married,Never,Never,No,No,2,Moderate,17,On-Campus
1,24,Engineering,Female,2.44,0,3,0,Average,Low,Average,Low,Single,Occasionally,Occasionally,No,No,3,Low,27,On-Campus
2,19,Business,Female,3.74,4,0,3,Good,Low,Average,Moderate,In a Relationship,Never,Occasionally,No,No,4,High,15,On-Campus
3,19,Computer Science,Male,3.65,2,1,0,Average,Low,Average,Moderate,Single,NaN,Never,No,No,4,Moderate,20,Off-Campus
4,18,Business,Male,3.40,3,3,4,Good,Low,Average,High,Married,Never,Never,No,Yes,0,High,23,On-Campus
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7017,20,Law,Female,3.69,3,1,5,Good,Low,Poor,High,Single,Never,Frequently,Yes,No,1,High,26,Off-Campus
7018,24,Medical,Female,3.73,3,4,1,Good,Moderate,Average,High,Single,Never,Occasionally,No,No,3,Low,15,Off-Campus
7019,26,Others,Male,3.65,4,5,1,Good,High,Poor,Moderate,Married,Never,Occasionally,No,Yes,4,Moderate,17,Off-Campus
7020,24,Medical,Male,3.65,4,3,4,Average,High,Poor,Moderate,Single,Never,Never,No,Yes,4,Moderate,18,Off-Campus
7021,22,Medical,Female,NaN,3,5,0,Average,High,Average,Moderate,In a Relationship,Never,Never,No,No,2,Low,17,With Family

In [5]:
print(df1.columns)

Index(['Age', 'Course', 'Gender', 'CGPA', 'Stress_Level', 'Depression_Score',
       'Anxiety_Score', 'Sleep_Quality', 'Physical_Activity', 'Diet_Quality',
       'Social_Support', 'Relationship_Status', 'Substance_Use',
       'Counseling_Service_Use', 'Family_History', 'Chronic_Illness',
       'Financial_Stress', 'Extracurricular_Involvement',
       'Semester_Credit_Load', 'Residence_Type'],
      dtype='object')

In [64]:
print(df1.dtypes)

Age                              int64
Course                          object
Gender                          object
CGPA                           float64
Stress_Level                     int64
Depression_Score                 int64
Anxiety_Score                    int64
Sleep_Quality                   object
Physical_Activity               object
Diet_Quality                    object
Social_Support                  object
Relationship_Status             object
Substance_Use                   object
Counseling_Service_Use          object
Family_History                  object
Chronic_Illness                 object
Financial_Stress                 int64
Extracurricular_Involvement     object
Semester_Credit_Load             int64
Residence_Type                  object
dtype: object

In [66]:
# Đếm số lần xuất hiện của từng giá trị trong một cột cụ thể
value_counts = {col: df1[col].value_counts() for col in df1.columns}
value_counts

{'Age': Age
 21    777
 18    738
 20    723
 19    710
 22    694
 23    642
 24    539
 26    457
 25    455
 27    323
 28    260
 29    189
 30    162
 31    124
 32     98
 33     55
 34     45
 35     31
 Name: count, dtype: int64,
 'Course': Course
 Medical             2105
 Law                 1385
 Engineering         1072
 Computer Science    1028
 Business             717
 Others               715
 Name: count, dtype: int64,
 'Gender': Gender
 Male      3547
 Female    3475
 Name: count, dtype: int64,
 'CGPA': CGPA
 4.00    332
 3.51    106
 3.58    106
 3.55    105
 3.50    103
        ...
 2.66      1
 2.63      1
 2.71      1
 2.49      1
 2.67      1
 Name: count, Length: 143, dtype: int64,
 'Stress_Level': Stress_Level
 3    1405
 2    1279
 1    1233
 0    1098
 5    1015
 4     992
 Name: count, dtype: int64,
 'Depression_Score': Depression_Score
 3    1388
 1    1308
 2    1304
 0    1295
 4     884
 5     843
 Name: count, dtype: int64,
 'Anxiety_Score': Anxiety_Score
 3    1429
 2    1297
 1    1270
 0    1243
 4     912
 5     871
 Name: count, dtype: int64,
 'Sleep_Quality': Sleep_Quality
 Good       3589
 Average    2735
 Poor        698
 Name: count, dtype: int64,
 'Physical_Activity': Physical_Activity
 Moderate    3521
 Low         2091
 High        1410
 Name: count, dtype: int64,
 'Diet_Quality': Diet_Quality
 Average    4268
 Good       1385
 Poor       1369
 Name: count, dtype: int64,
 'Social_Support': Social_Support
 Moderate    3470
 High        2176
 Low         1376
 Name: count, dtype: int64,
 'Relationship_Status': Relationship_Status
 Single               3574
 In a Relationship    2079
 Married              1369
 Name: count, dtype: int64,
 'Substance_Use': Substance_Use
 Never           5903
 Occasionally     699
 Frequently       405
 Name: count, dtype: int64,
 'Counseling_Service_Use': Counseling_Service_Use
 Never           4263
 Occasionally    2081
 Frequently       678
 Name: count, dtype: int64,
 'Family_History': Family_History
 No     4866
 Yes    2156
 Name: count, dtype: int64,
 'Chronic_Illness': Chronic_Illness
 No     6678
 Yes     344
 Name: count, dtype: int64,
 'Financial_Stress': Financial_Stress
 0    1230
 1    1184
 2    1176
 4    1161
 3    1155
 5    1116
 Name: count, dtype: int64,
 'Extracurricular_Involvement': Extracurricular_Involvement
 Moderate    3440
 Low         2164
 High        1418
 Name: count, dtype: int64,
 'Semester_Credit_Load': Semester_Credit_Load
 27    513
 17    509
 28    491
 15    472
 18    468
 19    467
 16    466
 24    466
 22    461
 29    461
 25    460
 26    456
 23    446
 21    444
 20    442
 Name: count, dtype: int64,
 'Residence_Type': Residence_Type
 On-Campus      2815
 Off-Campus     2788
 With Family    1419
 Name: count, dtype: int64}

In [68]:
# Kiểm tra số lượng dòng trùng lặp
duplicate_rows = df1.duplicated()  # Trả về True cho các dòng trùng lặp
duplicate_count = duplicate_rows.sum()  # Tính tổng số dòng trùng lặp
print("Số dòng trùng lặp:", duplicate_count)

Số dòng trùng lặp: 0

In [70]:
# Kiểm tra giá trị bị trống
df1.isnull().sum()

Age                             0
Course                          0
Gender                          0
CGPA                           12
Stress_Level                    0
Depression_Score                0
Anxiety_Score                   0
Sleep_Quality                   0
Physical_Activity               0
Diet_Quality                    0
Social_Support                  0
Relationship_Status             0
Substance_Use                  15
Counseling_Service_Use          0
Family_History                  0
Chronic_Illness                 0
Financial_Stress                0
Extracurricular_Involvement     0
Semester_Credit_Load            0
Residence_Type                  0
dtype: int64

In [72]:
df1.describe()

,Age,CGPA,Stress_Level,Depression_Score,Anxiety_Score,Financial_Stress,Semester_Credit_Load
count,7022.000000,7010.00000,7022.000000,7022.000000,7022.000000,7022.000000,7022.000000
mean,23.003418,3.49127,2.427941,2.254486,2.300484,2.453005,22.010538
std,3.853978,0.28742,1.638408,1.625193,1.624305,1.708995,4.358380
min,18.000000,2.44000,0.000000,0.000000,0.000000,0.000000,15.000000
25%,20.000000,3.29000,1.000000,1.000000,1.000000,1.000000,18.000000
50%,22.000000,3.50000,2.000000,2.000000,2.000000,2.000000,22.000000
75%,25.000000,3.70000,4.000000,3.000000,4.000000,4.000000,26.000000
max,35.000000,4.00000,5.000000,5.000000,5.000000,5.000000,29.000000

In [74]:
# Vì cột CGPA có giá trị bị trống nên cần xử lý bằng cách thay giá trị trống bằng giá trị trung bình 
mean_CGPA = df1['CGPA'].mean()
print(mean_CGPA)

3.4912696148359483

In [76]:
# Thay giá trị NaN bằng giá trị trung bình mà không dùng inplace
df1['CGPA'] = df1['CGPA'].fillna(mean_CGPA)

# Kiểm tra kết quả
print("5 giá trị đầu tiên của cột CGPA sau khi xử lý:")
print(df1['CGPA'].head(5))

5 giá trị đầu tiên của cột CGPA sau khi xử lý:
0    3.56
1    2.44
2    3.74
3    3.65
4    3.40
Name: CGPA, dtype: float64

In [78]:
# Lọc chỉ các cột có kiểu dữ liệu int và float
Loc_Cot = df1.select_dtypes(include=['int64', 'float64'])
# Tính độ lệch chuẩn cho các cột số
Do_Lech_Chuan = Loc_Cot.std()
print(Do_Lech_Chuan)

Age                     3.853978
CGPA                    0.287175
Stress_Level            1.638408
Depression_Score        1.625193
Anxiety_Score           1.624305
Financial_Stress        1.708995
Semester_Credit_Load    4.358380
dtype: float64

In [80]:
# Kiểm các giá trị ngoại lai
# Tính Z-score cho mỗi giá trị trong DataFrame
z_scores = zscore(df1.select_dtypes(include=['float64', 'int64']))  # Chỉ áp dụng cho các cột số

# Xác định các giá trị ngoại lai (Z-score lớn hơn 3 hoặc nhỏ hơn -3)
outliers = (z_scores > 3) | (z_scores < -3)

# Lọc các dòng có ít nhất một giá trị ngoại lai
outliers_data = df1[outliers.any(axis=1)]  # Sử dụng `any(axis=1)` để kiểm tra nếu có bất kỳ giá trị ngoại lai nào trong dòng

# In ra các dòng có giá trị ngoại lai
print(outliers_data)

num_outliers = outliers.any(axis=1).sum()

# In ra số dòng có giá trị ngoại lai
print(f'Total number of rows with outliers: {num_outliers}')
df_cleaned = df1[~outliers.any(axis=1)]  # ~ để loại bỏ các dòng có ngoại lai

# In ra DataFrame đã loại bỏ các dòng có ngoại lai
print("DataFrame after removing outliers:")
print(df_cleaned)

      Age            Course  Gender  CGPA  Stress_Level  Depression_Score  \
1      24       Engineering  Female  2.44             0                 3
26     35           Medical  Female  3.88             5                 5
47     35  Computer Science    Male  3.11             3                 4
266    35  Computer Science    Male  3.71             4                 1
420    35           Medical    Male  2.97             1                 0
451    35            Others    Male  3.42             4                 1
563    35               Law    Male  3.83             4                 3
658    35       Engineering    Male  3.24             3                 3
798    35          Business    Male  3.89             3                 0
851    35       Engineering  Female  3.03             0                 3
965    35       Engineering    Male  3.51             2                 3
989    35           Medical    Male  3.30             5                 0
1160   35           Medical    Male  3.76             5                 1
1531   35               Law  Female  3.14             1                 1
1707   35           Medical    Male  3.07             2                 1
1815   30       Engineering    Male  2.60             5                 0
2001   35           Medical    Male  3.20             5                 2
2063   35       Engineering  Female  3.59             2                 1
2103   22       Engineering    Male  2.58             4                 1
2113   35           Medical    Male  3.37             5                 3
2184   35            Others  Female  3.64             3                 2
3059   35          Business    Male  3.51             5                 0
3068   35           Medical  Female  3.69             2                 0
3085   35  Computer Science  Female  3.51             2                 5
3090   35       Engineering  Female  4.00             0                 0
3293   23           Medical  Female  2.52             3                 3
3309   23               Law  Female  2.61             1                 1
3372   25           Medical    Male  2.52             4                 3
3629   35               Law    Male  3.73             3                 3
4002   35  Computer Science  Female  3.29             3                 3
4544   35          Business    Male  3.15             2                 3
4567   19       Engineering  Female  2.49             1                 2
4620   35               Law    Male  3.12             3                 1
4628   35           Medical  Female  3.45             4                 3
5481   35            Others    Male  3.47             1                 1
5710   35  Computer Science  Female  3.67             4                 5
5732   35           Medical    Male  3.13             2                 2
6296   35               Law  Female  3.17             1                 0
6627   32               Law  Female  2.60             0                 3

      Anxiety_Score Sleep_Quality Physical_Activity Diet_Quality  \
1                 0       Average               Low      Average
26                4          Good              High      Average
47                4          Good               Low      Average
266               1          Good              High      Average
420               1          Good               Low         Poor
451               3       Average              High      Average
563               2          Good          Moderate      Average
658               5       Average              High         Good
798               1          Good          Moderate      Average
851               1          Good               Low      Average
965               2          Good          Moderate      Average
989               4       Average               Low         Good
1160              1       Average          Moderate      Average
1531              3          Poor          Moderate      Average
1707              2          Good          Moderate      Average
1815              0          Poor               Low      Average
2001              3       Average               Low      Average
2063              2       Average               Low         Poor
2103              5          Good          Moderate      Average
2113              0       Average               Low      Average
2184              0          Good          Moderate      Average
3059              4          Good              High      Average
3068              3       Average          Moderate      Average
3085              2       Average          Moderate      Average
3090              3          Good          Moderate      Average
3293              0       Average          Moderate         Poor
3309              0          Good          Moderate      Average
3372              1          Good          Moderate      Average
3629              3          Good          Moderate      Average
4002              2          Good          Moderate      Average
4544              0          Good               Low         Poor
4567              0          Good              High      Average
4620              0          Good               Low      Average
4628              1          Good          Moderate      Average
5481              0          Poor               Low      Average
5710              1       Average          Moderate      Average
5732              0       Average              High      Average
6296              2          Poor              High      Average
6627              3          Poor               Low      Average

     Social_Support Relationship_Status Substance_Use Counseling_Service_Use  \
1               Low              Single  Occasionally           Occasionally
26             High   In a Relationship         Never                  Never
47              Low   In a Relationship         Never                  Never
266        Moderate              Single         Never             Frequently
420        Moderate              Single    Frequently             Frequently
451            High   In a Relationship         Never                  Never
563            High   In a Relationship         Never           Occasionally
658        Moderate              Single         Never                  Never
798        Moderate              Single         Never           Occasionally
851             Low             Married         Never                  Never
965        Moderate   In a Relationship         Never           Occasionally
989        Moderate   In a Relationship         Never                  Never
1160       Moderate   In a Relationship         Never                  Never
1531           High              Single         Never           Occasionally
1707       Moderate   In a Relationship         Never                  Never
1815       Moderate   In a Relationship         Never                  Never
2001       Moderate   In a Relationship         Never             Frequently
2063       Moderate   In a Relationship         Never                  Never
2103       Moderate              Single         Never                  Never
2113            Low              Single         Never             Frequently
2184            Low              Single         Never             Frequently
3059           High             Married         Never                  Never
3068       Moderate              Single         Never                  Never
3085       Moderate              Single         Never             Frequently
3090           High              Single         Never           Occasionally
3293       Moderate             Married  Occasionally                  Never
3309           High              Single         Never                  Never
3372           High              Single         Never                  Never
3629            Low   In a Relationship    Frequently                  Never
4002       Moderate   In a Relationship         Never                  Never
4544       Moderate              Single         Never                  Never
4567       Moderate              Single         Never                  Never
4620           High             Married         Never                  Never
4628       Moderate              Single         Never                  Never
5481       Moderate             Married         Never                  Never
5710            Low   In a Relationship         Never           Occasionally
5732            Low             Married  Occasionally                  Never
6296           High   In a Relationship         Never                  Never
6627           High              Single         Never                  Never

     Family_History Chronic_Illness  Financial_Stress  \
1                No              No                 3
26              Yes              No                 3
47               No              No                 1
266             Yes              No                 3
420              No              No                 1
451              No              No                 2
563              No              No                 5
658             Yes              No                 4
798              No              No                 0
851             Yes              No                 1
965             Yes              No                 5
989              No              No                 0
1160             No              No                 5
1531             No              No                 1
1707            Yes              No                 3
1815            Yes              No                 2
2001             No              No                 4
2063             No              No                 3
2103             No              No                 3
2113             No              No                 5
2184            Yes              No                 4
3059             No              No                 3
3068             No              No                 5
3085             No              No                 1
3090             No              No                 5
3293             No              No                 5
3309             No              No                 4
3372             No              No                 4
3629             No              No                 2
4002             No              No                 3
4544             No              No                 4
4567             No              No                 1
4620             No              No                 2
4628            Yes              No                 5
5481             No              No                 5
5710             No              No                 3
5732             No              No                 4
6296             No              No                 2
6627             No              No                 1

     Extracurricular_Involvement  Semester_Credit_Load Residence_Type
1                            Low                    27      On-Campus
26                      Moderate                    29     Off-Campus
47                      Moderate                    19      On-Campus
266                          Low                    16      On-Campus
420                         High                    23    With Family
451                          Low                    23     Off-Campus
563                     Moderate                    28     Off-Campus
658                     Moderate                    16     Off-Campus
798                     Moderate                    24     Off-Campus
851                     Moderate                    29    With Family
965                     Moderate                    20      On-Campus
989                     Moderate                    22      On-Campus
1160                    Moderate                    16      On-Campus
1531                        High                    28    With Family
1707                        High                    24     Off-Campus
1815                        High                    18    With Family
2001                         Low                    29    With Family
2063                        High                    22      On-Campus
2103                    Moderate                    15      On-Campus
2113                         Low                    24     Off-Campus
2184                    Moderate                    19     Off-Campus
3059                         Low                    25     Off-Campus
3068                         Low                    29      On-Campus
3085                    Moderate                    29     Off-Campus
3090                    Moderate                    16      On-Campus
3293                         Low                    15      On-Campus
3309                    Moderate                    22      On-Campus
3372                    Moderate                    15      On-Campus
3629                        High                    27    With Family
4002                    Moderate                    26     Off-Campus
4544                    Moderate                    24      On-Campus
4567                    Moderate                    15     Off-Campus
4620                        High                    23     Off-Campus
4628                        High                    19     Off-Campus
5481                        High                    27      On-Campus
5710                    Moderate                    18     Off-Campus
5732                    Moderate                    17     Off-Campus
6296                    Moderate                    25    With Family
6627                    Moderate                    20      On-Campus
Total number of rows with outliers: 39
DataFrame after removing outliers:
      Age            Course  Gender     CGPA  Stress_Level  Depression_Score  \
0      25            Others    Male  3.56000             3                 3
2      19          Business  Female  3.74000             4                 0
3      19  Computer Science    Male  3.65000             2                 1
4      18          Business    Male  3.40000             3                 3
5      21           Medical  Female  3.35000             2                 4
...   ...               ...     ...      ...           ...               ...
7017   20               Law  Female  3.69000             3                 1
7018   24           Medical  Female  3.73000             3                 4
7019   26            Others    Male  3.65000             4                 5
7020   24           Medical    Male  3.65000             4                 3
7021   22           Medical  Female  3.49127             3                 5

      Anxiety_Score Sleep_Quality Physical_Activity Diet_Quality  \
0                 2          Good          Moderate         Good
2                 3          Good               Low      Average
3                 0       Average               Low      Average
4                 4          Good               Low      Average
5                 3          Good          Moderate         Good
...             ...           ...               ...          ...
7017              5          Good               Low         Poor
7018              1          Good          Moderate      Average
7019              1          Good              High         Poor
7020              4       Average              High         Poor
7021              0       Average              High      Average

     Social_Support Relationship_Status Substance_Use Counseling_Service_Use  \
0          Moderate             Married         Never                  Never
2          Moderate   In a Relationship         Never           Occasionally
3          Moderate              Single           NaN                  Never
4              High             Married         Never                  Never
5              High              Single         Never                  Never
...             ...                 ...           ...                    ...
7017           High              Single         Never             Frequently
7018           High              Single         Never           Occasionally
7019       Moderate             Married         Never           Occasionally
7020       Moderate              Single         Never                  Never
7021       Moderate   In a Relationship         Never                  Never

     Family_History Chronic_Illness  Financial_Stress  \
0                No              No                 2
2                No              No                 4
3                No              No                 4
4                No             Yes                 0
5                No              No                 5
...             ...             ...               ...
7017            Yes              No                 1
7018             No              No                 3
7019             No             Yes                 4
7020             No             Yes                 4
7021             No              No                 2

     Extracurricular_Involvement  Semester_Credit_Load Residence_Type
0                       Moderate                    17      On-Campus
2                           High                    15      On-Campus
3                       Moderate                    20     Off-Campus
4                           High                    23      On-Campus
5                       Moderate                    19     Off-Campus
...                          ...                   ...            ...
7017                        High                    26     Off-Campus
7018                         Low                    15     Off-Campus
7019                    Moderate                    17     Off-Campus
7020                    Moderate                    18     Off-Campus
7021                         Low                    17    With Family

[6983 rows x 20 columns]

In [82]:
print(df2.head(15))

    Age            Course  Gender     CGPA  Stress_Level  Depression_Score  \
0    25            Others    Male  3.56000             3                 3
1    19          Business  Female  3.74000             4                 0
2    19  Computer Science    Male  3.65000             2                 1
3    18          Business    Male  3.40000             3                 3
4    21           Medical  Female  3.35000             2                 4
5    18               Law    Male  3.65000             2                 2
6    21          Business  Female  3.40000             0                 3
7    24           Medical    Male  3.80000             3                 2
8    19       Engineering  Female  3.05000             2                 5
9    23               Law  Female  3.74000             3                 2
10   28       Engineering  Female  3.49127             3                 0
11   22  Computer Science    Male  3.19000             1                 1
12   27           Medical    Male  3.26000             3                 2
13   24           Medical  Female  3.20000             3                 0
14   25               Law    Male  3.61000             3                 1

    Anxiety_Score Sleep_Quality Physical_Activity Diet_Quality Social_Support  \
0               2          Good          Moderate         Good       Moderate
1               3          Good               Low      Average       Moderate
2               0       Average               Low      Average       Moderate
3               4          Good               Low      Average           High
4               3          Good          Moderate         Good           High
5               5          Good          Moderate      Average       Moderate
6               3       Average               Low      Average            Low
7               1          Poor               Low      Average       Moderate
8               0       Average          Moderate         Good            Low
9               4       Average               Low         Good       Moderate
10              3       Average          Moderate      Average       Moderate
11              3       Average          Moderate      Average       Moderate
12              2       Average          Moderate      Average           High
13              3       Average               Low         Poor       Moderate
14              5          Good               Low      Average       Moderate

   Relationship_Status Substance_Use Counseling_Service_Use Family_History  \
0              Married         Never                  Never             No
1    In a Relationship         Never           Occasionally             No
2               Single           NaN                  Never             No
3              Married         Never                  Never             No
4               Single         Never                  Never             No
5               Single         Never                  Never             No
6              Married         Never                  Never            Yes
7               Single    Frequently                  Never            Yes
8    In a Relationship           NaN           Occasionally            Yes
9    In a Relationship           NaN           Occasionally             No
10   In a Relationship         Never           Occasionally            Yes
11   In a Relationship         Never           Occasionally             No
12   In a Relationship         Never           Occasionally             No
13              Single         Never           Occasionally             No
14   In a Relationship         Never                  Never            Yes

   Chronic_Illness  Financial_Stress Extracurricular_Involvement  \
0               No                 2                    Moderate
1               No                 4                        High
2               No                 4                    Moderate
3              Yes                 0                        High
4               No                 5                    Moderate
5               No                 4                    Moderate
6               No                 3                    Moderate
7               No                 2                         Low
8               No                 1                    Moderate
9               No                 3                    Moderate
10              No                 0                    Moderate
11              No                 1                        High
12              No                 1                    Moderate
13              No                 2                    Moderate
14              No                 4                    Moderate

    Semester_Credit_Load Residence_Type
0                     17      On-Campus
1                     15      On-Campus
2                     20     Off-Campus
3                     23      On-Campus
4                     19     Off-Campus
5                     20     Off-Campus
6                     23      On-Campus
7                     28      On-Campus
8                     27     Off-Campus
9                     22     Off-Campus
10                    20     Off-Campus
11                    17      On-Campus
12                    17    With Family
13                    18      On-Campus
14                    25     Off-Campus

In [84]:
# Lưu DataFrame đã tiền xử lý vào file CSV mới
df_cleaned.to_csv('processed_data.csv', index=False)

# Xác nhận quá trình lưu file thành công
print("DataFrame đã được lưu vào file 'processed_data.csv'")

DataFrame đã được lưu vào file 'processed_data.csv'

In [9]:
df2 = pd.read_csv('processed_data.csv')
print(df2.head())

   Age            Course  Gender  CGPA  Stress_Level  Depression_Score  \
0   25            Others    Male  3.56             3                 3
1   19          Business  Female  3.74             4                 0
2   19  Computer Science    Male  3.65             2                 1
3   18          Business    Male  3.40             3                 3
4   21           Medical  Female  3.35             2                 4

   Anxiety_Score Sleep_Quality Physical_Activity Diet_Quality Social_Support  \
0              2          Good          Moderate         Good       Moderate
1              3          Good               Low      Average       Moderate
2              0       Average               Low      Average       Moderate
3              4          Good               Low      Average           High
4              3          Good          Moderate         Good           High

  Relationship_Status Substance_Use Counseling_Service_Use Family_History  \
0             Married         Never                  Never             No
1   In a Relationship         Never           Occasionally             No
2              Single           NaN                  Never             No
3             Married         Never                  Never             No
4              Single         Never                  Never             No

  Chronic_Illness  Financial_Stress Extracurricular_Involvement  \
0              No                 2                    Moderate
1              No                 4                        High
2              No                 4                    Moderate
3             Yes                 0                        High
4              No                 5                    Moderate

   Semester_Credit_Load Residence_Type
0                    17      On-Campus
1                    15      On-Campus
2                    20     Off-Campus
3                    23      On-Campus
4                    19     Off-Campus

In [11]:
# Thống kê mô tả
print(df2.describe())

              Age         CGPA  Stress_Level  Depression_Score  Anxiety_Score  \
count  6983.00000  6983.000000   6983.000000       6983.000000    6983.000000
mean     22.94816     3.492594      2.426178          2.256194       2.303451
std       3.77787     0.285520      1.638467          1.625785       1.624345
min      18.00000     2.630000      0.000000          0.000000       0.000000
25%      20.00000     3.290000      1.000000          1.000000       1.000000
50%      22.00000     3.500000      2.000000          2.000000       2.000000
75%      25.00000     3.700000      4.000000          3.000000       4.000000
max      34.00000     4.000000      5.000000          5.000000       5.000000

       Financial_Stress  Semester_Credit_Load
count       6983.000000           6983.000000
mean           2.449950             22.009881
std            1.709338              4.356143
min            0.000000             15.000000
25%            1.000000             18.000000
50%            2.000000             22.000000
75%            4.000000             26.000000
max            5.000000             29.000000